@charset "UTF-8";
@import "base.css";
@import "fonts.css";
@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Libre+Caslon+Display&family=Noto+Serif+JP:wght@400;500;600&display=swap");

/*==========================================================================*/
/*//////////////////////////////////////////////////////////////////////////*/
/*//////                                                              //////*/
/*//////                  © Branding Technology inc.                  //////*/
/*//////                                                              //////*/
/*//////////////////////////////////////////////////////////////////////////*/
/*                                                                          */
/*    base.css  --> スタイルの初期設定を行うため、変更しないで下さい。      */
/*    fonts.css --> フォントの初期設定を行うため、変更しないで下さい。      */
/*                                                                          */
/*==========================================================================*/
/*==========================================================================*/
/*                           Common-Setting                                 */
/*==========================================================================*/
/* 基本タグのフォントサイズを指定（12px -> 120% or 1.2em ） */

body {
	font-family: "Noto Sans JP", sans-serif;
	font-weight: 400;
}

* {
	padding: 0;
	margin: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	color: #00244f;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea,
select,
p,
blockquote,
th,
td,
pre,
address,
li,
dt,
dd {
	font-size: 150%;
	-webkit-text-size-adjust: none;
}

li,
dd,
dt,
th,
td {
	line-height: 2em;
}

img {
	max-width: 100%;
}

p {
	line-height: 2.14em;
	margin: 0 0 1.1em;
}
p.img {
	line-height: 1;
}
p:last-child {
	margin-bottom: 0;
}

#wrapper {
	position: relative;
	max-width: 1920px;
	min-width: 1240px;
	margin: 0 auto;
	overflow: hidden;
}
.container {
	position: relative;
	width: 1200px;
	margin: 0 auto;
}
.block {
	overflow: hidden;
}
/******************************Header********************************/
[class*="logo"] {
	position: relative;
	line-height: 1;
}
[class*="logo"] a {
	position: relative;
	display: inline-block;
	line-height: 1;
}
[class*="logo"] a img {
	max-width: 100%;
}
.color-basic-in-page {
	color: #34b2c1;
	color: #333333;
	color: #276cba;
	color: #111775;
	color: #32679d;
	color: #38922f;
	color: #d7c43f;
	color: #f4d711;
	box-shadow: 8px 4px 20px rgba(0, 0, 0, 0.2);
}
.linkfull {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	border-radius: 20px;
	background: transparent;
}
.hicon {
	position: relative;
	background: #32a5c2;
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 110;
}
.hamburger {
	position: relative;
	display: flex;
	align-items: center;
	width: 22px;
	height: 13px;
	cursor: pointer;
	z-index: 1;
	padding-bottom: 14px;
}
.hamburger::before {
	position: relative;
	content: "Menu";
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
	bottom: -20px;
	width: 60px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	color: #fff;
}
.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #fff;
	transition-duration: 0.25s;
}
.hamburger > span::before {
	content: "";
	top: -8px;
}
.hamburger > span::after {
	content: "";
	top: 8px;
}
.hamburger.active > span {
	transform: rotate(45deg);
}
.hamburger.active > span::before {
	top: 0;
	transform: rotate(0);
}
.hamburger.active > span::after {
	top: 0;
	transform: rotate(90deg);
}

/*******************************************************************/

/******************************Gnavi********************************/

/*******************************************************************/

/******************************Footer********************************/

/*******************************************************************/

#totop {
	position: fixed;
	bottom: 80px;
	right: 80px;
	z-index: 40;
}
#totop a {
	position: relative;
	display: block;
	width: 60px;
	height: 60px;
	background: #34b2c1;
	border-radius: 100%;
}
#totop a::before {
	position: absolute;
	content: "";
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	border-bottom: 8px solid #fff;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

.copyright {
	position: relative;
	margin-bottom: 0;
	line-height: 1;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	color: #fff;
	font-size: 13.6px;
	letter-spacing: 0.05em;
	width: 100%;
	background: #686868;
	text-align: center;
}
/* IE 11 */
@media screen\0 {
}

/*Safari*/

@media not all and (min-resolution: 0.001dpcm) {
	@supports (-webkit-appearance: none) and (stroke-color: transparent) {
	}
}
