/***********breadcrumb*************/
.topic_path {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 63px;
}
.topic_path li {
  font-size: 14px;
  letter-spacing: -1px;
  color: #505050;
  font-weight: 300;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.topic_path li:nth-child(1)::before {
  display: none;
}
.topic_path li::before {
  content: ">";
  font-size: 18px;
  line-height: 1;
  padding: 0 2px;
}
.topic_path li a {
  color: #505050;
  text-decoration: none;
  transition: all 0.3s ease;
}
.topic_path li a:hover {
  text-decoration: underline;
}

/***********image*************/
.img-r {
  float: right;
  margin: 0 0 10px 30px;
  line-height: 0;
}

.img-l {
  float: left;
  margin: 0 30px 10px 0;
  line-height: 0;
}

.img-cen {
  position: relative;
  text-align: center;
  line-height: 0;
}

.img-blog {
  position: relative;
  line-height: 0;
  text-align: center;
}

.img-blog img {
  max-height: 320px;
}

.img-w-100 img {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

/***********section*************/
.under section,
.under .section {
  margin-bottom: 160px;
}

section p:last-child,
.section p:last-child {
  margin-bottom: 0;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 1080px;
}

/***********mvs*************/
.under #mainvisual {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 420px;
  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.under #mainvisual h2 {
  position: relative;
  text-align: center;
  letter-spacing: -1.5px;
  width: 100%;
  color: #fff;
  font-weight: bold;
  font-size: 60px;
  line-height: 1.7;
  text-shadow: 0 0 8px #5e5e5e;
}

/***********heading*************/
.under .h3,
.under .h4,
.under .h5,
.under .h6 {
  position: relative;
}

.under .h3 {
  font-size: 42px;
  margin-bottom: 32px;
  text-align: center;
  letter-spacing: 4px;
  line-height: 1.6;
  font-weight: bold;
}

.under .h4 {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 5.5px;
  line-height: 1.2;
  background-color: #ffe61e;
  padding: 9px 50px 12px 50px;
  position: relative;
  margin-bottom: 15px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.under .h5 {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 5px;
  line-height: 1.2;
  padding: 0 0 15px 52px;
  position: relative;
  border-bottom: 2px #ffec56 dotted;
  margin-bottom: 15px;
  position: relative;
}
.under .h5::before {
  content: "";
  width: 40px;
  height: 40px;
  background-image: url("../images/star.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
  position: absolute;
  top: -5px;
  left: 4px;
}

.under .h6 {
  position: relative;
  padding-left: 22px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 5px;
  line-height: 1.2;
  margin-bottom: 15px;
}
.under .h6::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #ffec56;
  position: absolute;
  top: 5px;
  left: 0;
}

/***********table*************/
.under-tbl.tbl-center td,
.under-tbl.tbl-center th {
  text-align: center;
}
.under-tbl.tbl-fix {
  table-layout: fixed;
}
.under-tbl th {
  background-color: #8cdcf0;
  background-color: #fff034;
  color: #333;
}
.under-tbl td,
.under-tbl th {
  border-color: #505050;
}
.under-tbl p {
  line-height: normal !important;
  margin-bottom: 10px;
}
.under-tbl .under-list li {
  margin-bottom: 10px;
}
.under-tbl .img-tnew {
  text-align: center;
}
.under-tbl .img-tnew span {
  display: block;
}

.tbl-scroll th,
.tbl-scroll td {
  vertical-align: top;
}

.td_top td {
  vertical-align: top;
}

/***********list*************/
.under-list li {
  position: relative;
  overflow: hidden;
  padding: 0 0 0 16px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: 500;
}
.under-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  height: 8px;
  width: 8px;
  border-radius: 8px;
  background: #ffe61e;
}
.under-list li:last-child {
  margin-bottom: 0;
}

.under-frame {
  background-color: rgba(255, 230, 30, 0.2);
  border-radius: 10px;
  border: 2px #ffe61e double;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  overflow: hidden;
}
.under-frame::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 25px 0;
  border-color: transparent #ffe61e transparent transparent;
}

.under-step {
  margin-top: 50px;
}
.under-step dl {
  border: 1px #ffe61e solid;
  background-color: #fffce8;
  border-radius: 10px;
  margin-bottom: 80px;
  padding: 0 30px 30px;
  position: relative;
}
.under-step dl::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, 100%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  border-color: #ffe61e transparent transparent transparent;
}
.under-step dl:last-child {
  margin-bottom: 0;
}
.under-step dl:last-child::before {
  display: none;
}
.under-step dt {
  text-align: center;
}
.under-step .step-tt {
  display: inline-block;
  background-color: #ffe61e;
  border-radius: 100px;
  padding: 10px 20px;
  transform: translateY(-50%);
}
.under-step .step-tt span {
  text-transform: uppercase;
  margin-right: 10px;
}

.under-clm {
  display: flex;
  border: 1px solid #505050;
}
.under-clm.col1 dl {
  width: 100%;
}
.under-clm dl {
  width: 50%;
  border-right: 1px solid #505050;
}
.under-clm dl:last-child {
  content: "";
  border-right: 0;
}
.under-clm dt {
  background-color: #ffe61e;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #505050;
}
.under-clm dd {
  padding: 15px;
}

.under-img-col2 {
  display: flex;
  justify-content: center;
  margin: 0 -10px;
}
.under-img-col2 .ig-col {
  padding: 0 10px;
  margin: 0;
}

.qa-list .qa-item {
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  padding: 20px;
  background-color: rgba(255, 252, 232, 0.4);
  border-radius: 10px;
}
.qa-list .qa-item:last-child {
  margin-bottom: 0;
}
.qa-list dt {
  padding: 5px 0 5px 80px;
  position: relative;
}
.qa-list dt .qa-kt {
  top: 5px;
  background: #ffe61e;
  color: #1b1b1b;
}
.qa-list .qa-kt {
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 40px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.qa-list dd {
  position: relative;
  padding: 15px 0 0 80px;
  min-height: 60px;
}
.qa-list dd .qa-kt {
  top: 15px;
  background: #1b1b1b;
  opacity: 0.5;
}

.under .under-info {
  background: url("../images/contact-img02.jpg") center no-repeat;
  background-size: cover;
  max-width: 700px;
  height: 300px;
  margin: 0 auto;
  border: 6px #ffe61e solid;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.under .under-info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: -1;
}
.under .under-info li {
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.2;
  letter-spacing: 2px;
}
.under .under-info li:last-child {
  margin-bottom: 0;
}
.under .under-info a {
  display: block;
  line-height: 1.2;
  padding: 10px 40px 12px;
  background-color: #ffe61e;
  font-size: 44px;
  letter-spacing: 2px;
  border-radius: 100px;
  text-decoration: none;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: bold;
}
.under .under-info a:hover {
  color: #1b1b1b;
}
.under .tx01 {
  letter-spacing: 4px;
}
.under .tx02 {
  letter-spacing: 2px;
}

.under-cate {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.under-cate .cate-item {
  margin: 0 15px 20px;
}
.under-cate .cate-item a {
  background: #ffe61e;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 365px;
  height: 70px;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: -0.5px;
  z-index: 1;
  transition: all 0.3s ease;
  padding: 10px;
  line-height: 1.2;
  text-align: center;
}
.under-cate .cate-item a:hover {
  background-color: #1b1b1b;
  color: #fff;
}
.under-cate .cate-item a:hover::before {
  border-color: transparent transparent #ffe61e transparent;
}
.under-cate .cate-item a::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 20px 20px;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  bottom: 5px;
  right: 5px;
  transition: all 0.3s ease;
}

.under-post .pst-item {
  border-radius: 12px;
  box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  font-size: 18px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.under-post .pst-item:last-child {
  margin-bottom: 0;
}
.under-post .pst-item p {
  margin: 0;
  line-height: 1.2;
}
.under-post .pst-head {
  display: flex;
  align-items: center;
}
.under-post .pst-cate {
  padding: 20px 30px;
  background-color: #1b1b1b;
  color: #fff;
  width: 190px;
  text-align: center;
}
.under-post .pst-date {
  padding: 16px 30px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  width: 170px;
  text-align: center;
}
.under-post .pst-tt {
  color: #1b1b1b;
  text-decoration: none;
  border-left: 1px solid #1b1b1b;
  padding: 0 30px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: calc(100% - 360px);
}

.blog-topic {
  margin-top: 20px;
}

.blog-detail h3 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 2px;
  line-height: 1.4;
  font-weight: bold;
}
.blog-detail .detail-item {
  margin-bottom: 30px;
}
.blog-detail .detail-item:last-child {
  margin-bottom: 0;
}
.blog-detail .detail-img {
  text-align: center;
}
/***********btn*************/
.under-btn {
  position: relative;
}

/***********content*************/
.under header {
  height: 80px;
}
.under header h1 {
  margin: 0;
}
.under #content {
  margin: 0 auto;
  width: 1080px;
}
.under p,
.under li,
.under a,
.under th,
.under td,
.under dt,
.under dd,
.under dl {
  font-size: 18px;
  letter-spacing: -0.6px;
  line-height: 2;
  font-weight: 500;
}
.under .sec-h3 {
  background-color: #fffce8;
  padding: 31px 0 92px;
  margin-bottom: 120px;
}
.under .sec-h3 p {
  font-size: 20px;
  padding: 0 50px 0 58px;
  letter-spacing: -0.5px;
  line-height: 2;
}
.under .sec-90 {
  margin-bottom: 91px;
}
.under .sech4 h4 {
  width: 50%;
  display: inline-block;
}
.under .sech4 .img-r {
  margin: 0 0 0 120px;
  line-height: 0;
}
.under .sech4 .img-r img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}
.under .sech5 h5 {
  width: 59%;
  display: inline-block;
}
.under .sech5 .img-r {
  margin: 10px 0 0 85px;
  line-height: 0;
}
.under .sech5 .img-r img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.under-bx a {
  color: #1b1b1b;
}
.under-bx a:hover {
  color: #ffe61e;
}

.under-box .col {
  padding: 30px 24px;
  width: 33.3333333333%;
}
.under-box .cols {
  display: flex;
  margin: -30px -24px;
  flex-wrap: wrap;
}
.under-box .cols.col2 .col {
  width: 50%;
}
.under-box .under-tt {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 4px;
  margin-bottom: 20px;
  line-height: 1.3;
  position: relative;
}
.under-box h5.under-tt {
  padding: 0 0 0 40px;
}
.under-box h5.under-tt::before {
  content: "";
  width: 33px;
  height: 34px;
  background-image: url("../images/star2.png");
  background-position: center;
  background-size: 33px 34px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
.under-box h6.under-tt {
  padding: 0 0 0 30px;
}
.under-box h6.under-tt::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: absolute;
  top: 7px;
  left: 0;
  background-color: #ffe61e;
}
.under-box .under-item {
  padding: 17px 19px 55px;
  background-color: #fffce8;
  height: 100%;
}
.under-box .under-img {
  margin-bottom: 13px;
  display: block;
  line-height: 0;
}
.under-box .under-desc {
  letter-spacing: 0.5px;
}
.under-box .ls-03 {
  letter-spacing: 3px;
}
.under-box .ls-02 {
  letter-spacing: 2px;
}

.under-pickup {
  position: relative;
  padding: 140px 0;
  margin-bottom: 70px;
  z-index: 0;
  background-color: #ffe61e;
}
.under-pickup .pick-box {
  padding: 58px 52px 60px;
  background-color: #ffffff;
  position: relative;
  border: 3px solid #1b1b1b;
  max-width: 1080px;
  margin: 0 auto;
}
.under-pickup .pick-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-16%, -59%);
  width: 737px;
  height: 206px;
  background-image: url("../images/img-pickup.png");
  background-repeat: no-repeat;
  z-index: -1;
}
.under-pickup .pick-box::after {
  content: "";
  position: absolute;
  bottom: -38px;
  right: -34px;
  background-image: url("../images/bg-shadow.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 1080px;
  height: 100%;
  z-index: -1;
}
.under-pickup .pick-text {
  position: relative;
}
.under-pickup .pick-img {
  margin: 10px 68px 0 0;
  float: left;
}
.under-pickup .pick-tt {
  font-size: 28px;
  letter-spacing: -0.2px;
  font-weight: bold;
  margin-bottom: 29px;
  border-bottom: 4px #ffe61e solid;
  padding-bottom: 12px;
  line-height: 1.2;
}
.under-pickup p {
  letter-spacing: -0.1px;
  font-weight: 500;
}
.under-pickup .ig-pickup {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-25%, -35%);
  display: none;
}

.under-link {
  text-align: center;
  margin: 0 0 200px;
}
.under-link .lk-head {
  margin-bottom: 49px;
}
.under-link .lk-tt {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 23px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.under-link .lk-desc {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 0;
}

.under-btn-link {
  margin-bottom: 50px;
}

.under-anc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.under-anc li {
  margin: 0 24px 20px;
}
.under-anc a {
  background: #ffe61e;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 365px;
  height: 70px;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: -0.5px;
  z-index: 1;
  transition: all 0.3s ease;
  padding: 10px;
  line-height: 1.2;
  text-align: center;
}
.under-anc a::before {
  content: "";
  position: absolute;
  left: 4px;
  right: 4px;
  top: 4px;
  bottom: 4px;
  border: 1px solid #fff;
  z-index: -2;
}
.under-anc a::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 0;
  height: 0;
  z-index: -1;
  border-style: solid;
  border-width: 0 0 26px 26px;
  border-color: transparent transparent #fff transparent;
  transition: all 0.3s ease;
}
.under-anc a:hover {
  background-color: #1b1b1b;
  color: #ffe61e;
}
.under-anc a:hover::after {
  border-color: transparent transparent #ffe61e transparent;
}

/* IE 11 */
/*Safari*/

/*# sourceMappingURL=under.css.map */
