@charset "UTF-8";

/* 枠あり */
table.mailform {
	margin: 0 auto;
	width: 100%;
	border-collapse: collapse;
}
table.mailform tr th,
table.mailform tr td {
	border: solid 1px #ffe61e;
	padding: 10px 15px;
}

/* 枠無し */
table.mailform {
	padding: 10px;
}
table.mailform tr th {
	width: 166px;
	border-left: 0;
	border-right: 0;
	text-align: left;
	color: #1b1b1b;
	background: #fffce8;

}
table.mailform tr td {
	font-size: 14px;
	border-left: 0;
	border-right: 0;
}
table.mailform tr td ul li,table.mailform tr td ul,table.mailform tr td ol,table.mailform tr td ol li {
	/* margin: 0px;
	padding: 0px;
	list-style: none; */
}

th.fmail_error_line,td.fmail_error_line,.fmail_error {
	background-color: #FFEEEE;
	color: #FF0000;
}



/* position系が来るとテーブルが切れるので、装飾削除用にする */
table.mailform tr.table_disable th,
table.mailform tr.table_disable td {
	border: 0;
	background: none;
}

/* custom */
.confirm-page table.mailform tr th{
	width: 300px !important;
}





/* レスポンシブの設定 */
@media screen and (max-width: 750px) {
	table.mailform {
		padding: 0px;
		width: 100%;
		border-collapse: separate;
	}
	table.mailform tr th,
	table.mailform tr td {
		display: block;
		width: 100% !important;
		border-width: 1px 0;
		font-size: 16px;
	}

	table.mailform tr th{
		padding: 5px 10px;
	}

	table.mailform tr td {
		padding: 10px;
	}
	.confirm-page table.mailform tr th{
		width: 100% !important;
	}
}
